@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikRegular.woff') format('woff');
}
@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikMedium.woff') format('woff');
}
@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikSemibold.woff') format('woff');
}
@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikBold.woff') format('woff');
}
/*@import url('http://fonts.cdnfonts.com/css/graphik'); */
@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');
*{
    box-sizing: border-box;
    /* font-family: Averta, sans-serif; */
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Averta-Light', sans-serif;
    font-weight: 500;
    max-width: 100%;
    overflow-x: hidden;
}
/* First Section */
#main-container{
    height: 770px;
    background-image: url(/img/hero-bg.svg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;   
}

.container-content{
    text-align: center;
    margin: 0 auto;
    padding-top: 6%;
}

.container-content .details h2{
    margin: 70px 0 20px 0;
    font-size: 32px;
    color: #514949;  
}

.container-content .details p{
    width: 49%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: #514949;
    opacity: 0.9;
}

.container-content .details span{
    color: #E7332B;
}

.container-content .btns button{
    padding: 14px 32px;
    margin: 0 11px;
    font-size: 15px;
    cursor: pointer;
}

.container-content .btns .btn-orange{
    background-color: #E7332B;
    color: rgb(255, 255, 255);
    border: none;
}

.container-content .btns .btn-orange:hover{
    background-color: rgb(255, 255, 255);
    color: #E7332B;
    border: 1px solid #E7332B;
}

.container-content .btns .btn-white:hover{
    background-color: #E7332B;
    color: rgb(255, 255, 255);
}

.container-content .btns .btn-white{
    background-color: rgb(255, 255, 255);
    color: #E7332B;
    border: 1px solid #E7332B;
}

/* Second Section */
#team-routine{
    max-width: 100%;
}

.routine-info{
    text-align: center;
    max-width: 1440px;
}

.routine-info h5{
    padding-top: 135px;
    font-size: 14px;
    color: #E7332B;
}

.routine-info .additional-info{
    padding-top: 16px;
    font-size: 24px;
    color: #514949;
    width: 385px;
    margin: 0 auto;
    line-height: 38px;
}

.routine-info .routine-details{
    display: flex;
    margin: 0  auto;
}

.routine-info .card-body{
    margin: 5% 16px;
    width: 100%;
    background-color: #FFFAFA;
    text-align: left;
    padding: 60px 55px 90px 35px;
}

.routine-info .card-body p{
    font-size: 16px;
    color: #514949;
    opacity: 0.9;
    line-height: 23px;
    margin: 45px 0 25px 0;
}

.card-body h4 a{
    font-size: 16px;
    color: #E7332B;
    opacity: 0.9;
    text-decoration: none;
}

img.dotted-card-1{
    padding-top: 85%;
    width: 27%;
    position: absolute;
    left: -2%;
    top: -129px;
    z-index: -1;
}

img.dotted-card-2{
    padding-top: 85%;
    width: 27%;
    position: absolute;
    right: -2%;
    top: -129px;
    z-index: -1;
}

.routine-info .training-routine{
    margin-left: 5%;
}

.routine-info .training-routine p{
    width: 300px;
}

.routine-info .talent-routine{
    margin-right: 5%;
}

/* footer */
.footer-info{
    width: 100%;
    display: flex;
    justify-content:space-between;
    /* margin: 5% 0 5% 5%; */
    margin: 5% 0;
}

.footer-info .zuri-footer-logo{
    margin-left: 10% ;
}

.footer-info h4{
    font-size: 16px;
    padding-bottom: 6px;
    color: #514949;
}

.footer-navbar li{
    list-style: none;
}

.footer-navbar li span{
    color: #E7332B;
    font-size: 14px;
}

.footer-navbar li a{
    text-decoration: none;
    line-height: 35px;
}

.footer-info .content{
    margin-top: 7%;
}

.contact-card p{
    width: 80%;
    font-size: 14px;
    color: #514949;
    line-height: 22px ;
    padding-top: 7px;
    /* opacity: 0.9; */
}

.contact-card li{
    font-size: 14px;
    list-style: none;
    padding-top: 8px;
}

.contact-card li a{
    text-decoration: none;
    color: #E7332B;
}

.social-icon{
    width: 6%;
    margin: 0 2px;
    padding-top: 5px;
}

.hr-line{
    border: none;
    height: 2px;
    background-color: #514949;
    opacity: 0.2;
    margin: 0 7% 2% 7%;
}

.copyright{
    font-size: 16px;
    text-align: center;
    color: #514949;
    margin-bottom: 12%;
    font-weight: bold;
}

/* Media Queries */

@media (max-width: 1440px) {
    .container-content .details p{
        width: 49%; 
    }

    body{
        max-width: 1440px;
        overflow-x: hidden;
    }

} 

@media (max-width: 1024px) {
    body{
        margin: 0 auto;
        max-width: 1024px;
        overflow-x: hidden;
    }
    
    #main-container{
        height: 700px;
    }

    .container-content .details p{
        width: 64%;
    }

    img.dotted-card-1{
        display: none;
    }

    img.dotted-card-2{
        display: none;
    }

    #team-routine{
        max-width: 1024px;
    }

    .routine-info .card-body{
        width: 100%;
        padding: 60px 55px 90px 35px;
    }

    .routine-info{
        text-align: center;
        max-width: 1024px;
    }

    .routine-info .card-body p{
        font-size: 15px;
        width: 100%;
    }

    .card-body h4 a{
        font-size: 14.8px;
    }    
 
    .footer-info{
    margin: 15% 0 9% 0;
   }

   .footer-info .zuri-footer-logo{
    margin-left: 6% ;
   }

   .footer-navbar{
    padding-left: 15%;
   }

   .contact-card{
    padding-left: 15%;
   }

   .contact-card p{
    width: 95%;
   }

   .socials{
    padding-left: 7%;
   } 
   
   .social-icon{
    width: 9%;
   }


}   .hr-line{
    margin: 0 7% 3% 4%;
}

@media (max-width: 768px) {
    body{
        margin: 0 auto;
        max-width: 100%;
        overflow-x: hidden;
    }

    #main-container{
        height: 540px; 
    }

    .container-content{
        padding-top: 12%;
    }

    .container-content .details p{
        width: 84%;
        font-size: 15.5px;
    }

    .container-content .details h2{
        margin: 70px 0 15px 0;
        font-size: 28px; 
    }

    .container-content .btns{
        padding-top: 3%;
    }

    .container-content .btns button{
        display: flex;
        margin: 0 auto;
    }

    .routine-info .routine-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .routine-info .card-body{
        margin: 3% 30px;
        width: 92%;
        padding: 60px 5px 90px 35px;
    }

    .routine-info h5{
        padding-top: 70px;
    }

    .routine-info .additional-info{
        padding-top: 14px;
        padding-bottom: 70px;
    }

    .routine-info .card-body p{
        margin: 45px 0 15px 0;
        width: 92%;
        margin: 45px 0 29px 0;
    }

    .footer-info{
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin: 5% 0 5% 38%;
        margin: 0 auto;
        padding-top: 30%;
    }

    .footer-navbar{
        margin: 0 30%;
    }

    .footer-navbar h4{
        margin-top: 19%;
        font-size: 22px;
        font-weight: bold;
    }

    .footer-navbar li span{
        font-size: 15px;
        font-weight: bold;
    }

    /* .contact-card {
        width: 100%;
        margin: 0 100% 0 0;
    } */

    .contact-card h4{
        font-size: 22px;
        font-weight: bold;
        margin: 0 auto;
        padding-top: 9%;
    }

    .contact-card p{
        width: 160%;
        font-weight: bold;
        padding-bottom: 3%;
    }

    .socials{
        padding-top: 9%;
        padding-bottom: 35%;
        width: 100%;
        margin: 0 7%;
    }

    .socials h4{
        font-size: 22px;
        font-weight: bold;
    }

    .social-icon{
        width: 12%;
        margin: 0 1.7px;
        padding-top: 2px;
    }

    .hr-line{
        margin: 0 2% 4% 2%;
    }

    .copyright{
        font-size: 15px;
        font-weight: bold;
    }
}

@media (max-width: 425px){
    #main-container{
        height: 690px;
    }

    .container-content{
        padding-top: 28%;
    }

    .container-content .details h2{
        margin: 90px 0 20px 0;
        font-size: 26px; 
    }

    .container-content .details p{
        width: 400px;
        margin: 0 auto;
        padding-bottom: 80px;
        font-size: 16px;
    }

    .container-content .btns .btn-white{
        margin-top: 5% ;
        padding: 14px 35px;
    }

    .routine-info .card-body{
        width: 80%;
        padding: 60px 20px 90px 35px;
        margin: 5% auto;
    }

    .footer-info{
        padding-top: 45%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        /* text-align: center; */
        margin: 0 0 0 30%;
    }

    .footer-info .zuri-footer-logo{
        margin-left:  7% ;
        width: 120%;
    }
    
    .footer-info h4{
        font-size: 20px;
        padding-bottom: 5px;
        padding-top: 15px;
        color: #514949;
    }
    
    .footer-navbar li span{
        color: #E7332B;
        font-size: 15px;
        margin-left: 20%;
        padding-bottom: 10px;
    }

    .contact-card h4{
        margin-left: 15%;
    }
    
    .contact-card p{
        width:150%;
        font-size: 14px;
        margin: 0 8%;
        text-align: center;
    }
    
    .contact-card li{
        font-size: 14px;
        padding-top: 12px;
        margin-left: 20%;
    }

    .socials h4{
        margin-left: 10%;
    }
    
    .social-icon{
        width: 15%;
        padding-top: 5px;
        padding-bottom: 20%;
        margin-left: 5%;
    }

    .copyright{
        margin: 8% 0 25% 0;
    }

}

@media (max-width: 375px){
    #main-container{
        height: 690px;
    }

    .container-content{
        padding-top: 28%;
    }

    .container-content .details p{
        width: 92%;
        padding-top: 20px;
        padding-bottom: 70px;
        text-align: center;
    }

    .routine-info .additional-info{
        width: 90%;
    }

    .footer-info{
        padding-top: 65%;
    }

    .footer-info .zuri-footer-logo{
        margin-bottom:  10% ;
    }

    .footer-info h4{
        padding-bottom: 1px;
        padding-top: 20px;
    }

    .contact-card li{
        padding-top: 15px;
        margin-left: 12%;
    }

    .hr-line{
        margin: 0 6% 2% 6%;
    }   
}

@media (max-width: 320px){
    .container-content .btns .btn-white{
        margin-top: 7% ;
    }

    .routine-info .card-body p{
        width: 175px;
        font-size: 16px;
        color: #514949;
        opacity: 0.9;
        line-height: 23px;
        margin: 45px 0 25px 0;
    }

    .card-body h4 a{
        font-size: 16px;
        word-spacing: 0.8px;
        line-height: 36px;
    }
  
    .footer-info{
        margin: 0 0 0 28%;
    }

    .contact-card p{
        width:130%;
    }

    .socials h4{
        margin-left: 2%;
    }

    .social-icon{
        width: 17%;
        margin-left: 2%;
        margin-bottom: 20%;
    }

    .copyright{
        margin: 10% 0 40% 0;  
    }
}

/* PAGE 2 */
.page2{
    background: #FFFDF5;
    max-width: 1440px;
    font-size: 16px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
}
header .navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:99;
    background:#FFFDF5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.navlinks nav ul{
    display: flex;
}
.navlinks nav li{
    padding: 0 28px;
}
.about-link{
    margin-left:150px;
}
.navbar .thumbs{
    width: 70px;
    border: 9px solid #e7332b;
    background-color: #F08A81;
    border-radius: 50%;
    margin-left: 70px;
} 
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #585757;
}
.navbar a:hover{
    color: #6a6f73;
}
.enroll{
    padding: 10px 20px 10px 10px;
}
.container-content1{
    padding: 15% 0 3% 0;
    width: 100%;
    display: flex;
}
.container-content1 .male{
    width: 35%;
    height: 380px;
    margin-right: 5%;
    margin-top: 4%;
    margin-left: 3%;
}
.container-content1 .lady{
    width: 30%;
    height: 350px;
    margin-left: 6%;
    margin-top: 6%;
}
.intro{
    text-align: center;
}
.intro span{
    font-size: 18px;
    font-weight: 400;
    color: #E7332B;
    opacity: 0.9;
    margin-left: 10%;
}
.intro h1{
    width: 130%;
    margin: 2% auto;
    font-size: 2.9rem;
    font-weight: 600;
    line-height: 52px;
    color: #1B1A20;
    padding-right: 14%;
}
.intro p{
    width: 90%;
    margin: 5% auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #454447;
    padding-left: 8%;
}
.intro .curvy-line{
    max-width: 33%;
    margin-left: 260px;
}
.intro .wire1{
    max-width: 15%;
    margin-left: 150px;
    margin-bottom: 2%;
}
.intro .enroll-button{
    background-color: #E7332B;
    border: none;
    border-radius: 30px;
    padding: 12px 40px;
    margin-top: 5px;
}
.intro .enroll-button a{
    text-decoration: none;
    font-size: 1.1rem;    
    color: #FBF8FF;
}
.horizontal-line1{
    border: none;
    height: 1px;
    background-color: #514949;
    opacity: 0.2;
    margin: 0 4% 0 4%;
}
.horizontal-line2{
    border: none;
    height: 1px;
    background-color: #514949;
    opacity: 0.2;
    margin: 0 4% 2% 4%;
}
.ingressive4G-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4%;
}
.ingressive4G-info h2{
    width: 30%;
    font-size: 24px;
    font-weight: 600;
    color: #1B1A20 ;
    line-height: 31px;
}
.ingressive4G-info p{
    width: 28%;
    font-size: 23.8px;
    font-weight: 400;
    color: #454447 ;
    text-align:end;
    line-height: 31px;
}
.ingressive4G-info p a{
    font-size: 1.3rem;
    color: #43B97F;
}
.ingressive4G-info .ingressive-logo{
    max-width: 19%;
}
#second-section{
    margin-bottom: 6%;
}
.training-mode{
    margin: 3% 4%;
}
.training-mode p{
    font-size: 24px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #E7332B;
    padding-bottom: 4px;
}
.training-mode span{
    width: 50%;
    font-size: 2.4rem;
    font-weight: 600;
    color: #1B1A20;
    line-height: 52px;
}
.training-mode .wire2{
    max-width: 8%;
    margin-left: 24%;
}
.training-mode .hmm{
    display: flex;
}
.hmm .star{
    max-width: 15%;
    margin-left: 13%;
}
/* Six Boxes */
.mode-container1{
    margin: 5% 4% 25px 4%;
    display: flex;
}
.mode-container1 .box1-3{
    width: 40%;
    padding: 0 0 0 4%;
    border-radius: 20px;
    box-shadow: 5px -4px 20px 5px #FFEEEA;
    transition: .3s;
}
.mode-container1 .box1-3:hover{
    transform: translate(0, -17px);
}
.box1-3 h2{
    font-size: 3.75rem;
    font-weight: 600;
    color: #1b1a20;
    line-height: 78px;
    margin-top: 17%;
}
.box1-3 h6{
    width: 50%;
    font-size: 2.25rem;
    font-weight: 500;
    color: #1b1a20;
    line-height: 47px;
    margin-top: 7%;
}
.box1-3 p{
    width: 81%;
    font-size: 18px;
    font-weight: 400;
    color: #1b1a20;
    line-height: 23px;
    margin: 9% 0 26% 0;
}
.mode-container2{
    margin: 0 4% 4% 4%;
    display: flex;
}
.mode-container2 .box4-6{
    width: 40%;
    padding: 0 0 0 4%;
    border-radius: 20px;
    box-shadow: 5px 4px 20px 5px #FFEEEA;
    transition: .3s;
}
.mode-container2 .box4-6:hover{
    transform: translate(0, -17px);
}
.box4-6 h2{
    font-size: 3.75rem;
    font-weight: 600;
    color: #1b1a20;
    line-height: 78px;
    margin-top: 17%;
}
.box4-6 h6{
    width: 70%;
    font-size: 2.25rem;
    font-weight: 500;
    color: #1b1a20;
    line-height: 47px;
    margin-top: 7%;
}
.box4-6 p{
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    color: #1b1a20;
    line-height: 23px;
    margin: 9% 0 26% 0;
}
.box1 h2,
.box1 h6,
.box1 p{
    color: #FFFFFF;
}
.curve{
    width: 33%;
    float: right;
}
.mode-container1 .box1{
    background-color: #E7332B;
}
.mode-container1 .box2{
    background-color: #FFFFFF;
    margin: 0 25px;
}
.mode-container1 .box3{
    background-color: #FFFFFF;
}
.mode-container2 .box4{
    background-color: #FFFFFF;
}
.mode-container2 .box5{
    background-color: #FFFFFF;
    margin: 0 25px;
}
.mode-container2 .box6{
    background-color: #FFFFFF;
}

/* Third Section */
#third-section{
    background-color: #E7332B;
    padding: 13px 0 120px 0;
}
#third-section .activity{
    display: flex;
    margin: 3% 5.8%;
}
.activity .wire3{
    max-width: 14%;
    margin: 4% 0 0 52%;
}
.activity .p1{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.activity h3{
    width: 89%;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 52px;
    margin-top: 7px;
}
.activity .p2{
    width: 66%;
    margin-top: 9%;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #FFFFFF;
}
.activity .enroll-button{
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 10px 34px;
    margin: 30px 0 40px 0;
}
.activity .enroll-button a{
    text-decoration: none;
    font-size: 18px;    
    color: #E7332B;
}
.activity .activity-listA{
    display: flex;
    margin-bottom: 25px;
}
.activity-listA .list2{
    margin-left: 25px;
}
.activity-listA .list{
    display: flex; 
    align-items: center;
    padding: 10px 50px 10px 15px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}
.activity .activity-listB{
    display: flex;
}
.activity-listB .list4{
    margin-left: 25px;
}
.activity-listB .list{
    display: flex; 
    align-items: center;
    padding: 10px 50px 10px 15px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}
.activity-listA .list2{
    padding: 8px 46px 8px 15px;
}
.activity-listB .list3{
    padding: 10px 62px 10px 15px;
}
.activity-listB .list4{
    padding: 10px 29px 10px 15px;
}
.list img{
    max-width: 32%;
    margin-right: 10px;
}
.list2 img{
    max-width: 30%;
}
.list3 img{
    max-width: 36%;
}
.list4 img{
    max-width: 26%;
}
.list p{
    font-size: 18px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}
.activity .activity-lady{
    max-width: 60%;
    height: 590px;
    margin-top: 14px;
}
/* Fourth Section */
