@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');
*{
    box-sizing: border-box;
    /* font-family: Averta, sans-serif; */
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Averta-Light', sans-serif;
    font-weight: 500;
    max-width: 100%;
    overflow-x: hidden;
}
/* First Section */
#main-container{
    height: 770px;
    background-image: url(/img/hero-bg.svg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;   
}

.container-content{
    text-align: center;
    margin: 0 auto;
    padding-top: 6%;
}

.container-content .details h2{
    margin: 70px 0 20px 0;
    font-size: 32px;
    color: #514949;  
}

.container-content .details p{
    width: 49%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: #514949;
    opacity: 0.9;
}

.container-content .details span{
    color: #E7332B;
}

.container-content .btns button{
    padding: 14px 32px;
    margin: 0 11px;
    font-size: 15px;
    cursor: pointer;
}

.container-content .btns .btn-orange{
    background-color: #E7332B;
    color: rgb(255, 255, 255);
    border: none;
}

.container-content .btns .btn-orange:hover{
    background-color: rgb(255, 255, 255);
    color: #E7332B;
    border: 1px solid #E7332B;
}

.container-content .btns .btn-white:hover{
    background-color: #E7332B;
    color: rgb(255, 255, 255);
}

.container-content .btns .btn-white{
    background-color: rgb(255, 255, 255);
    color: #E7332B;
    border: 1px solid #E7332B;
}

/* Second Section */
#team-routine{
    max-width: 100%;
}

.routine-info{
    text-align: center;
    max-width: 1440px;
}

.routine-info h5{
    padding-top: 135px;
    font-size: 14px;
    color: #E7332B;
}

.routine-info .additional-info{
    padding-top: 16px;
    font-size: 24px;
    color: #514949;
    width: 385px;
    margin: 0 auto;
    line-height: 38px;
}

.routine-info .routine-details{
    display: flex;
    margin: 0  auto;
}

.routine-info .card-body{
    margin: 5% 16px;
    width: 100%;
    background-color: #FFFAFA;
    text-align: left;
    padding: 60px 55px 90px 35px;
}

.routine-info .card-body p{
    font-size: 16px;
    color: #514949;
    opacity: 0.9;
    line-height: 23px;
    margin: 45px 0 25px 0;
}

.card-body h4 a{
    font-size: 16px;
    color: #E7332B;
    opacity: 0.9;
    text-decoration: none;
}

img.dotted-card-1{
    padding-top: 85%;
    width: 27%;
    position: absolute;
    left: -2%;
    top: -129px;
    z-index: -1;
}

img.dotted-card-2{
    padding-top: 85%;
    width: 27%;
    position: absolute;
    right: -2%;
    top: -129px;
    z-index: -1;
}

.routine-info .training-routine{
    margin-left: 5%;
}

.routine-info .training-routine p{
    width: 300px;
}

.routine-info .talent-routine{
    margin-right: 5%;
}

/* footer */
.footer-info{
    width: 100%;
    display: flex;
    justify-content:space-between;
    /* margin: 5% 0 5% 5%; */
    margin: 5% 0;
}

.footer-info .zuri-footer-logo{
    margin-left: 10% ;
}

.footer-info h4{
    font-size: 16px;
    padding-bottom: 6px;
    color: #514949;
}

.footer-navbar li{
    list-style: none;
}

.footer-navbar li span{
    color: #E7332B;
    font-size: 14px;
}

.footer-navbar li a{
    text-decoration: none;
    line-height: 35px;
}

.footer-info .content{
    margin-top: 7%;
}

.contact-card p{
    width: 80%;
    font-size: 14px;
    color: #514949;
    line-height: 22px ;
    padding-top: 7px;
    /* opacity: 0.9; */
}

.contact-card li{
    font-size: 14px;
    list-style: none;
    padding-top: 8px;
}

.contact-card li a{
    text-decoration: none;
    color: #E7332B;
}

.social-icon{
    width: 6%;
    margin: 0 2px;
    padding-top: 5px;
}

.hr-line{
    border: none;
    height: 2px;
    background-color: #514949;
    opacity: 0.2;
    margin: 0 7% 2% 7%;
}

.copyright{
    font-size: 16px;
    text-align: center;
    color: #514949;
    margin-bottom: 12%;
    font-weight: bold;
}

/* Media Queries */

@media (max-width: 1440px) {
    .container-content .details p{
        width: 49%; 
    }

    body{
        max-width: 1440px;
        overflow-x: hidden;
    }

} 

@media (max-width: 1024px) {
    body{
        margin: 0 auto;
        max-width: 1024px;
        overflow-x: hidden;
    }
    
    #main-container{
        height: 700px;
    }

    .container-content .details p{
        width: 64%;
    }

    img.dotted-card-1{
        display: none;
    }

    img.dotted-card-2{
        display: none;
    }

    #team-routine{
        max-width: 1024px;
    }

    .routine-info .card-body{
        width: 100%;
        padding: 60px 55px 90px 35px;
    }

    .routine-info{
        text-align: center;
        max-width: 1024px;
    }

    .routine-info .card-body p{
        font-size: 15px;
        width: 100%;
    }

    .card-body h4 a{
        font-size: 14.8px;
    }    
 
    .footer-info{
    margin: 15% 0 9% 0;
   }

   .footer-info .zuri-footer-logo{
    margin-left: 6% ;
   }

   .footer-navbar{
    padding-left: 15%;
   }

   .contact-card{
    padding-left: 15%;
   }

   .contact-card p{
    width: 95%;
   }

   .socials{
    padding-left: 7%;
   } 
   
   .social-icon{
    width: 9%;
   }


}   .hr-line{
    margin: 0 7% 3% 4%;
}

@media (max-width: 768px) {
    body{
        margin: 0 auto;
        max-width: 100%;
        overflow-x: hidden;
    }

    #main-container{
        height: 540px; 
    }

    .container-content{
        padding-top: 12%;
    }

    .container-content .details p{
        width: 84%;
        font-size: 15.5px;
    }

    .container-content .details h2{
        margin: 70px 0 15px 0;
        font-size: 28px; 
    }

    .container-content .btns{
        padding-top: 3%;
    }

    .container-content .btns button{
        display: flex;
        margin: 0 auto;
    }

    .routine-info .routine-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .routine-info .card-body{
        margin: 3% 30px;
        width: 92%;
        padding: 60px 5px 90px 35px;
    }

    .routine-info h5{
        padding-top: 70px;
    }

    .routine-info .additional-info{
        padding-top: 14px;
        padding-bottom: 70px;
    }

    .routine-info .card-body p{
        margin: 45px 0 15px 0;
        width: 92%;
        margin: 45px 0 29px 0;
    }

    .footer-info{
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin: 5% 0 5% 38%;
        margin: 0 auto;
        padding-top: 30%;
    }

    .footer-navbar{
        margin: 0 30%;
    }

    .footer-navbar h4{
        margin-top: 19%;
        font-size: 22px;
        font-weight: bold;
    }

    .footer-navbar li span{
        font-size: 15px;
        font-weight: bold;
    }

    /* .contact-card {
        width: 100%;
        margin: 0 100% 0 0;
    } */

    .contact-card h4{
        font-size: 22px;
        font-weight: bold;
        margin: 0 auto;
        padding-top: 9%;
    }

    .contact-card p{
        width: 160%;
        font-weight: bold;
        padding-bottom: 3%;
    }

    .socials{
        padding-top: 9%;
        padding-bottom: 35%;
        width: 100%;
        margin: 0 7%;
    }

    .socials h4{
        font-size: 22px;
        font-weight: bold;
    }

    .social-icon{
        width: 12%;
        margin: 0 1.7px;
        padding-top: 2px;
    }

    .hr-line{
        margin: 0 2% 4% 2%;
    }

    .copyright{
        font-size: 15px;
        font-weight: bold;
    }
}

@media (max-width: 425px){
    #main-container{
        height: 690px;
    }

    .container-content{
        padding-top: 28%;
    }

    .container-content .details h2{
        margin: 90px 0 20px 0;
        font-size: 26px; 
    }

    .container-content .details p{
        width: 400px;
        margin: 0 auto;
        padding-bottom: 80px;
        font-size: 16px;
    }

    .container-content .btns .btn-white{
        margin-top: 5% ;
        padding: 14px 35px;
    }

    .routine-info .card-body{
        width: 80%;
        padding: 60px 20px 90px 35px;
        margin: 5% auto;
    }

    .footer-info{
        padding-top: 45%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        /* text-align: center; */
        margin: 0 0 0 30%;
    }

    .footer-info .zuri-footer-logo{
        margin-left:  7% ;
        width: 120%;
    }
    
    .footer-info h4{
        font-size: 20px;
        padding-bottom: 5px;
        padding-top: 15px;
        color: #514949;
    }
    
    .footer-navbar li span{
        color: #E7332B;
        font-size: 15px;
        margin-left: 20%;
        padding-bottom: 10px;
    }

    .contact-card h4{
        margin-left: 15%;
    }
    
    .contact-card p{
        width:150%;
        font-size: 14px;
        margin: 0 8%;
        text-align: center;
    }
    
    .contact-card li{
        font-size: 14px;
        padding-top: 12px;
        margin-left: 20%;
    }

    .socials h4{
        margin-left: 10%;
    }
    
    .social-icon{
        width: 15%;
        padding-top: 5px;
        padding-bottom: 20%;
        margin-left: 5%;
    }

    .copyright{
        margin: 8% 0 25% 0;
    }

}

@media (max-width: 375px){
    #main-container{
        height: 690px;
    }

    .container-content{
        padding-top: 28%;
    }

    .container-content .details p{
        width: 92%;
        padding-top: 20px;
        padding-bottom: 70px;
        text-align: center;
    }

    .routine-info .additional-info{
        width: 90%;
    }

    .footer-info{
        padding-top: 65%;
    }

    .footer-info .zuri-footer-logo{
        margin-bottom:  10% ;
    }

    .footer-info h4{
        padding-bottom: 1px;
        padding-top: 20px;
    }

    .contact-card li{
        padding-top: 15px;
        margin-left: 12%;
    }

    .hr-line{
        margin: 0 6% 2% 6%;
    }   
}

@media (max-width: 320px){
    .container-content .btns .btn-white{
        margin-top: 7% ;
    }

    .routine-info .card-body p{
        width: 175px;
        font-size: 16px;
        color: #514949;
        opacity: 0.9;
        line-height: 23px;
        margin: 45px 0 25px 0;
    }

    .card-body h4 a{
        font-size: 16px;
        word-spacing: 0.8px;
        line-height: 36px;
    }
  
    .footer-info{
        margin: 0 0 0 28%;
    }

    .contact-card p{
        width:130%;
    }

    .socials h4{
        margin-left: 2%;
    }

    .social-icon{
        width: 17%;
        margin-left: 2%;
        margin-bottom: 20%;
    }

    .copyright{
        margin: 10% 0 40% 0;  
    }
}





