@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 300;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikLight.woff') format('woff');
}
@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikRegular.woff') format('woff');
}
@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 500;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikMedium.woff') format('woff');
}
@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 600;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikSemibold.woff') format('woff');
}
@font-face {
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 700;
    src: local('Graphik'), url('https://fonts.cdnfonts.com/s/27112/GraphikBold.woff') format('woff');
}
/*@import url('http://fonts.cdnfonts.com/css/graphik'); */
@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');
*{
    box-sizing: border-box;
    /* font-family: Averta, sans-serif; */
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Averta-Light', sans-serif;
    font-weight: 500;
    max-width: 100%;
    overflow-x: hidden;
}
/* First Section */
#main-container{
    height: 770px;
    background-image: url(/img/hero-bg.svg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;   
}

.container-content{
    text-align: center;
    margin: 0 auto;
    padding-top: 6%;
}

.container-content .details h2{
    margin: 70px 0 20px 0;
    font-size: 32px;
    color: #514949;  
}

.container-content .details p{
    width: 49%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    text-align: center;
    line-height: 24px;
    font-size: 16px;
    color: #514949;
    opacity: 0.9;
}

.container-content .details span{
    color: #E7332B;
}

.container-content .btns button{
    padding: 14px 32px;
    margin: 0 11px;
    font-size: 15px;
    cursor: pointer;
}

.container-content .btns .btn-orange{
    background-color: #E7332B;
    color: rgb(255, 255, 255);
    border: none;
}

.container-content .btns .btn-orange:hover{
    background-color: rgb(255, 255, 255);
    color: #E7332B;
    border: 1px solid #E7332B;
}

.container-content .btns .btn-white:hover{
    background-color: #E7332B;
    color: rgb(255, 255, 255);
}

.container-content .btns .btn-white{
    background-color: rgb(255, 255, 255);
    color: #E7332B;
    border: 1px solid #E7332B;
}

/* Second Section */
#team-routine{
    max-width: 100%;
}

.routine-info{
    text-align: center;
    max-width: 1440px;
}

.routine-info h5{
    padding-top: 135px;
    font-size: 14px;
    color: #E7332B;
}

.routine-info .additional-info{
    padding-top: 16px;
    font-size: 24px;
    color: #514949;
    width: 385px;
    margin: 0 auto;
    line-height: 38px;
}

.routine-info .routine-details{
    display: flex;
    margin: 0  auto;
}

.routine-info .card-body{
    margin: 5% 16px;
    width: 100%;
    background-color: #FFFAFA;
    text-align: left;
    padding: 60px 55px 90px 35px;
}

.routine-info .card-body p{
    font-size: 16px;
    color: #514949;
    opacity: 0.9;
    line-height: 23px;
    margin: 45px 0 25px 0;
}

.card-body h4 a{
    font-size: 16px;
    color: #E7332B;
    opacity: 0.9;
    text-decoration: none;
}

img.dotted-card-1{
    padding-top: 85%;
    width: 27%;
    position: absolute;
    left: -2%;
    top: -129px;
    z-index: -1;
}

img.dotted-card-2{
    padding-top: 85%;
    width: 27%;
    position: absolute;
    right: -2%;
    top: -129px;
    z-index: -1;
}

.routine-info .training-routine{
    margin-left: 5%;
}

.routine-info .training-routine p{
    width: 300px;
}

.routine-info .talent-routine{
    margin-right: 5%;
}

/* footer */
.footer-info{
    width: 100%;
    display: flex;
    justify-content:space-between;
    /* margin: 5% 0 5% 5%; */
    margin: 5% 0;
}

.footer-info .zuri-footer-logo{
    margin-left: 10% ;
}

.footer-info h4{
    font-size: 16px;
    padding-bottom: 6px;
    color: #514949;
}

.footer-navbar li{
    list-style: none;
}

.footer-navbar li span{
    color: #E7332B;
    font-size: 14px;
}

.footer-navbar li a{
    text-decoration: none;
    line-height: 35px;
}

.footer-info .content{
    margin-top: 7%;
}

.contact-card p{
    width: 80%;
    font-size: 14px;
    color: #514949;
    line-height: 22px ;
    padding-top: 7px;
    /* opacity: 0.9; */
}

.contact-card li{
    font-size: 14px;
    list-style: none;
    padding-top: 8px;
}

.contact-card li a{
    text-decoration: none;
    color: #E7332B;
}

.social-icon{
    width: 6%;
    margin: 0 2px;
    padding-top: 5px;
}

.hr-line{
    border: none;
    height: 2px;
    background-color: #514949;
    opacity: 0.2;
    margin: 0 7% 2% 7%;
}

.copyright{
    font-size: 16px;
    text-align: center;
    color: #514949;
    margin-bottom: 12%;
    font-weight: bold;
}

/* Media Queries */

@media (max-width: 1440px) {
    .container-content .details p{
        width: 49%; 
    }

    body{
        max-width: 1440px;
        overflow-x: hidden;
    }

} 

@media (max-width: 1024px) {
    body{
        margin: 0 auto;
        max-width: 1024px;
        overflow-x: hidden;
    }
    
    #main-container{
        height: 700px;
    }

    .container-content .details p{
        width: 64%;
    }

    img.dotted-card-1{
        display: none;
    }

    img.dotted-card-2{
        display: none;
    }

    #team-routine{
        max-width: 1024px;
    }

    .routine-info .card-body{
        width: 100%;
        padding: 60px 55px 90px 35px;
    }

    .routine-info{
        text-align: center;
        max-width: 1024px;
    }

    .routine-info .card-body p{
        font-size: 15px;
        width: 100%;
    }

    .card-body h4 a{
        font-size: 14.8px;
    }    
 
    .footer-info{
    margin: 15% 0 9% 0;
   }

   .footer-info .zuri-footer-logo{
    margin-left: 6% ;
   }

   .footer-navbar{
    padding-left: 15%;
   }

   .contact-card{
    padding-left: 15%;
   }

   .contact-card p{
    width: 95%;
   }

   .socials{
    padding-left: 7%;
   } 
   
   .social-icon{
    width: 9%;
   }


}   .hr-line{
    margin: 0 7% 3% 4%;
}

@media (max-width: 768px) {
    body{
        margin: 0 auto;
        max-width: 100%;
        overflow-x: hidden;
    }

    #main-container{
        height: 540px; 
    }

    .container-content{
        padding-top: 12%;
    }

    .container-content .details p{
        width: 84%;
        font-size: 15.5px;
    }

    .container-content .details h2{
        margin: 70px 0 15px 0;
        font-size: 28px; 
    }

    .container-content .btns{
        padding-top: 3%;
    }

    .container-content .btns button{
        display: flex;
        margin: 0 auto;
    }

    .routine-info .routine-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .routine-info .card-body{
        margin: 3% 30px;
        width: 92%;
        padding: 60px 5px 90px 35px;
    }

    .routine-info h5{
        padding-top: 70px;
    }

    .routine-info .additional-info{
        padding-top: 14px;
        padding-bottom: 70px;
    }

    .routine-info .card-body p{
        margin: 45px 0 15px 0;
        width: 92%;
        margin: 45px 0 29px 0;
    }

    .footer-info{
        width: 22%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        margin: 5% 0 5% 38%;
        margin: 0 auto;
        padding-top: 30%;
    }

    .footer-navbar{
        margin: 0 30%;
    }

    .footer-navbar h4{
        margin-top: 19%;
        font-size: 22px;
        font-weight: bold;
    }

    .footer-navbar li span{
        font-size: 15px;
        font-weight: bold;
    }

    /* .contact-card {
        width: 100%;
        margin: 0 100% 0 0;
    } */

    .contact-card h4{
        font-size: 22px;
        font-weight: bold;
        margin: 0 auto;
        padding-top: 9%;
    }

    .contact-card p{
        width: 160%;
        font-weight: bold;
        padding-bottom: 3%;
    }

    .socials{
        padding-top: 9%;
        padding-bottom: 35%;
        width: 100%;
        margin: 0 7%;
    }

    .socials h4{
        font-size: 22px;
        font-weight: bold;
    }

    .social-icon{
        width: 12%;
        margin: 0 1.7px;
        padding-top: 2px;
    }

    .hr-line{
        margin: 0 2% 4% 2%;
    }

    .copyright{
        font-size: 15px;
        font-weight: bold;
    }
}

@media (max-width: 425px){
    #main-container{
        height: 690px;
    }

    .container-content{
        padding-top: 28%;
    }

    .container-content .details h2{
        margin: 90px 0 20px 0;
        font-size: 26px; 
    }

    .container-content .details p{
        width: 400px;
        margin: 0 auto;
        padding-bottom: 80px;
        font-size: 16px;
    }

    .container-content .btns .btn-white{
        margin-top: 5% ;
        padding: 14px 35px;
    }

    .routine-info .card-body{
        width: 80%;
        padding: 60px 20px 90px 35px;
        margin: 5% auto;
    }

    .footer-info{
        padding-top: 45%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        /* text-align: center; */
        margin: 0 0 0 30%;
    }

    .footer-info .zuri-footer-logo{
        margin-left:  7% ;
        width: 120%;
    }
    
    .footer-info h4{
        font-size: 20px;
        padding-bottom: 5px;
        padding-top: 15px;
        color: #514949;
    }
    
    .footer-navbar li span{
        color: #E7332B;
        font-size: 15px;
        margin-left: 20%;
        padding-bottom: 10px;
    }

    .contact-card h4{
        margin-left: 15%;
    }
    
    .contact-card p{
        width:150%;
        font-size: 14px;
        margin: 0 8%;
        text-align: center;
    }
    
    .contact-card li{
        font-size: 14px;
        padding-top: 12px;
        margin-left: 20%;
    }

    .socials h4{
        margin-left: 10%;
    }
    
    .social-icon{
        width: 15%;
        padding-top: 5px;
        padding-bottom: 20%;
        margin-left: 5%;
    }

    .copyright{
        margin: 8% 0 25% 0;
    }

}

@media (max-width: 375px){
    #main-container{
        height: 690px;
    }

    .container-content{
        padding-top: 28%;
    }

    .container-content .details p{
        width: 92%;
        padding-top: 20px;
        padding-bottom: 70px;
        text-align: center;
    }

    .routine-info .additional-info{
        width: 90%;
    }

    .footer-info{
        padding-top: 65%;
    }

    .footer-info .zuri-footer-logo{
        margin-bottom:  10% ;
    }

    .footer-info h4{
        padding-bottom: 1px;
        padding-top: 20px;
    }

    .contact-card li{
        padding-top: 15px;
        margin-left: 12%;
    }

    .hr-line{
        margin: 0 6% 2% 6%;
    }   
}

@media (max-width: 320px){
    .container-content .btns .btn-white{
        margin-top: 7% ;
    }

    .routine-info .card-body p{
        width: 175px;
        font-size: 16px;
        color: #514949;
        opacity: 0.9;
        line-height: 23px;
        margin: 45px 0 25px 0;
    }

    .card-body h4 a{
        font-size: 16px;
        word-spacing: 0.8px;
        line-height: 36px;
    }
  
    .footer-info{
        margin: 0 0 0 28%;
    }

    .contact-card p{
        width:130%;
    }

    .socials h4{
        margin-left: 2%;
    }

    .social-icon{
        width: 17%;
        margin-left: 2%;
        margin-bottom: 20%;
    }

    .copyright{
        margin: 10% 0 40% 0;  
    }
}

/* PAGE 2 */
.page2{
    background: #FFFDF5;
    max-width: 1440px;
    font-size: 16px;
    font-family: 'Graphik';
    font-style: normal;
    font-weight: 400;
}
header .navbar{
    position:fixed;
    top:0;
    left:0;
    right:0;
    width:100%;
    z-index:99;
    background:#FFFDF5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.navlinks nav ul{
    display: flex;
}
.navlinks nav li{
    padding: 0 28px;
}
.about-link{
    margin-left:150px;
}
.navbar .thumbs{
    width: 70px;
    border: 9px solid #e7332b;
    background-color: #F08A81;
    border-radius: 50%;
    margin-left: 70px;
} 
.navbar li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: #585757;
}
.navbar a:hover{
    color: #6a6f73;
}
.enroll{
    padding: 10px 20px 10px 10px;
}
.container-content1{
    padding: 15% 0 3% 0;
    width: 100%;
    display: flex;
}
.container-content1 .male{
    width: 35%;
    height: 380px;
    margin-right: 5%;
    margin-top: 4%;
    margin-left: 3%;
}
.container-content1 .lady{
    width: 30%;
    height: 350px;
    margin-left: 6%;
    margin-top: 6%;
}
.intro{
    text-align: center;
}
.intro span{
    font-size: 18px;
    font-weight: 400;
    color: #E7332B;
    opacity: 0.9;
    margin-left: 10%;
}
.intro h1{
    width: 130%;
    margin: 2% auto;
    font-size: 2.9rem;
    font-weight: 600;
    line-height: 52px;
    color: #1B1A20;
    padding-right: 14%;
}
.intro p{
    width: 90%;
    margin: 5% auto;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #454447;
    padding-left: 8%;
}
.intro .curvy-line{
    max-width: 33%;
    margin-left: 260px;
}
.intro .wire1{
    max-width: 15%;
    margin-left: 150px;
    margin-bottom: 2%;
}
.intro .enroll-button{
    background-color: #E7332B;
    border: none;
    border-radius: 30px;
    padding: 12px 40px;
    margin-top: 5px;
}
.intro .enroll-button a{
    text-decoration: none;
    font-size: 1.1rem;    
    color: #FBF8FF;
}
.horizontal-line1{
    border: none;
    height: 1px;
    background-color: #514949;
    opacity: 0.2;
    margin: 0 4% 0 4%;
}
.horizontal-line2{
    border: none;
    height: 1px;
    background-color: #514949;
    opacity: 0.2;
    margin: 0 4% 2% 4%;
}
.ingressive4G-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 4%;
}
.ingressive4G-info h2{
    width: 30%;
    font-size: 24px;
    font-weight: 600;
    color: #1B1A20 ;
    line-height: 31px;
}
.ingressive4G-info p{
    width: 28%;
    font-size: 23.8px;
    font-weight: 400;
    color: #454447 ;
    text-align:end;
    line-height: 31px;
}
.ingressive4G-info p a{
    font-size: 1.3rem;
    color: #43B97F;
}
.ingressive4G-info .ingressive-logo{
    max-width: 19%;
}
#second-section{
    margin-bottom: 6%;
}
.training-mode{
    margin: 3% 4%;
}
.training-mode p{
    font-size: 24px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #E7332B;
    padding-bottom: 4px;
}
.training-mode span{
    width: 50%;
    font-size: 2.4rem;
    font-weight: 600;
    color: #1B1A20;
    line-height: 52px;
}
.training-mode .wire2{
    max-width: 8%;
    margin-left: 24%;
}
.training-mode .hmm{
    display: flex;
}
.hmm .star{
    max-width: 15%;
    margin-left: 13%;
}
/* Six Boxes */
.mode-container1{
    margin: 5% 4% 25px 4%;
    display: flex;
}
.mode-container1 .box1-3{
    width: 40%;
    padding: 0 0 0 4%;
    border-radius: 20px;
    box-shadow: 5px -4px 20px 5px #FFEEEA;
    transition: .3s;
}
.mode-container1 .box1-3:hover{
    transform: translate(0, -17px);
}
.box1-3 h2{
    font-size: 3.75rem;
    font-weight: 600;
    color: #1b1a20;
    line-height: 78px;
    margin-top: 17%;
}
.box1-3 h6{
    width: 50%;
    font-size: 2.25rem;
    font-weight: 500;
    color: #1b1a20;
    line-height: 47px;
    margin-top: 7%;
}
.box1-3 p{
    width: 81%;
    font-size: 18px;
    font-weight: 400;
    color: #1b1a20;
    line-height: 23px;
    margin: 9% 0 26% 0;
}
.mode-container2{
    margin: 0 4% 4% 4%;
    display: flex;
}
.mode-container2 .box4-6{
    width: 40%;
    padding: 0 0 0 4%;
    border-radius: 20px;
    box-shadow: 5px 4px 20px 5px #FFEEEA;
    transition: .3s;
}
.mode-container2 .box4-6:hover{
    transform: translate(0, -17px);
}
.box4-6 h2{
    font-size: 3.75rem;
    font-weight: 600;
    color: #1b1a20;
    line-height: 78px;
    margin-top: 17%;
}
.box4-6 h6{
    width: 70%;
    font-size: 2.25rem;
    font-weight: 500;
    color: #1b1a20;
    line-height: 47px;
    margin-top: 7%;
}
.box4-6 p{
    width: 80%;
    font-size: 18px;
    font-weight: 400;
    color: #1b1a20;
    line-height: 23px;
    margin: 9% 0 26% 0;
}
.box1 h2,
.box1 h6,
.box1 p{
    color: #FFFFFF;
}
.curve{
    width: 33%;
    float: right;
}
.mode-container1 .box1{
    background-color: #E7332B;
}
.mode-container1 .box2{
    background-color: #FFFFFF;
    margin: 0 25px;
}
.mode-container1 .box3{
    background-color: #FFFFFF;
}
.mode-container2 .box4{
    background-color: #FFFFFF;
}
.mode-container2 .box5{
    background-color: #FFFFFF;
    margin: 0 25px;
}
.mode-container2 .box6{
    background-color: #FFFFFF;
}

/* Third Section */
#third-section{
    background-color: #E7332B;
    padding: 13px 0 120px 0;
    margin-top: 10%;
}
#third-section .activity{
    display: flex;
    margin: 3% 5.8%;
}
.activity .wire3{
    max-width: 14%;
    margin: 4% 0 0 52%;
}
.activity .p1{
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
}
.activity h3{
    width: 89%;
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 52px;
    margin-top: 7px;
}
.activity .p2{
    width: 66%;
    margin-top: 9%;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #FFFFFF;
}
.activity .enroll-button{
    background-color: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding: 10px 34px;
    margin: 30px 0 40px 0;
}
.activity .enroll-button a{
    text-decoration: none;
    font-size: 18px;    
    color: #E7332B;
}
.activity .activity-listA{
    display: flex;
    margin-bottom: 25px;
}
.activity-listA .list2{
    margin-left: 25px;
}
.activity-listA .list{
    display: flex; 
    align-items: center;
    padding: 10px 50px 10px 15px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}
.activity .activity-listB{
    display: flex;
}
.activity-listB .list4{
    margin-left: 25px;
}
.activity-listB .list{
    display: flex; 
    align-items: center;
    padding: 10px 50px 10px 15px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
}
.activity-listA .list2{
    padding: 8px 46px 8px 15px;
}
.activity-listB .list3{
    padding: 10px 62px 10px 15px;
}
.activity-listB .list4{
    padding: 10px 29px 10px 15px;
}
.list img{
    max-width: 32%;
    margin-right: 10px;
}
.list2 img{
    max-width: 30%;
}
.list3 img{
    max-width: 36%;
}
.list4 img{
    max-width: 26%;
}
.list p{
    font-size: 18px;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}
.activity .activity-lady{
    max-width: 60%;
    height: 590px;
    margin-top: 14px;
}
/* Fourth Section */
#fourth-section{
    margin: 4% 4%;
}
.programs .heading{
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #e7332b;
    margin-top: 6%;
}
.programs h3{
    width: 45%;
    font-size: 40px;
    font-weight: 600;
    color: #1b1a20;
    line-height: 52px;
    margin-top: 2px;
}

.programs .wire4{
    max-width: 12%;
    margin-left: 44%;
}
/* First three set of boxes */
.programs .program-container1{
    display: flex;
    justify-content: center;
}
.program-container1 .box{
    width: 35%;
    height: 310px;
    padding: 48px 22px 16px 44px;
    border-radius: 40px;
    margin-bottom: 2%;
    background-color: #FFFFFF;
    box-shadow: 5px 4px 18px 5px #FFEEEA;
}
.program-container1 .backend{
    margin: 0 2% 0 2%;
}
.program-container1 h4{
    font-size: 20px;
    font-weight: 600;
    color: #1b1a20;
    margin-bottom: 5%;
}
.program-container1 p{
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    color: #1b1a20;
    line-height: 22px;
    margin-top: 10%;
}
.program-container1 .p2,
.program-container1 .p3{
    width: 92%;
}
.program-container1 .frontend .html-logo{
    max-width: 10%;
}
.program-container1 .frontend .css-logo{
    max-width: 10.3%;
    margin: 0 3% 0 3%;
}
.program-container1 .frontend .js-logo{
    max-width: 12%;
}
.program-container1 .backend .php-logo{
    max-width: 16%;
}
.program-container1 .backend .python-logo{
    max-width: 12.5%;
    margin: 0 3% 0 3%;
}
.program-container1 .backend .js-logo{
    max-width: 11.5%;
}
.program-container1 .product-design .adobe-logo{
    max-width: 12%;
    margin: 0 3% 0 0;
}
.program-container1 .product-design .figma-logo{
    max-width: 22%;
}
/* Second three set of boxes */
.programs .program-container2{
    display: flex;
    justify-content: center;
}
.program-container2 .box{
    width: 35%;
    height: 310px;
    padding: 48px 15px 16px 44px;
    border-radius: 40px;
    background-color: #FFFFFF;
    box-shadow: 5px 4px 18px 5px #FFEEEA;
}
.program-container2 .fullstack{
    margin: 0 2% 0 2%;
}
.program-container2 h4{
    font-size: 20px;
    font-weight: 600;
    color: #1b1a20;
    margin-bottom: 5%;
}
.program-container2 p{
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    color: #1b1a20;
    line-height: 22px;
    margin-top: 10%;
}
.program-container2 .devops .ubuntu-logo{
    max-width: 30%;
}
.program-container2 .devops .bash-logo{
    max-width: 23%;
    margin: 0 3% 0 3%;
}
.program-container2 .devops .aws-logo{
    max-width: 18%;
}
.program-container2 .fullstack .html-logo{
    max-width: 10%;
}
.program-container2 .fullstack .css-logo{
    max-width: 10.3%;
    margin: 0 3% 0 3%;
}
.program-container2 .fullstack .js-logo{
    max-width: 12%;
}
.program-container2 .fullstack .python-logo{
    max-width: 15%;
}
.program-container2 .frameworks .laravel-logo{
    max-width: 20%;
    margin: 0 3% 0 0;
}
.program-container2 .frameworks .react-logo{
    max-width: 23%;
}
.program-container2 .frameworks .django-logo{
    max-width: 23%;
}
.programs-btn{
    text-align: center;
}
.programs .enroll-button{
    background-color: #E7332B;
    border: none;
    border-radius: 30px;
    padding: 12px 33px;
    margin-top: 6%;
}
.programs .enroll-button a{
    text-decoration: none;
    font-size: 1.1rem;    
    color: #FBF8FF;
}
.program-line{
    border: none;
    height: 1px;
    background-color: #514949;
    opacity: 0.2;
    margin: 7% 0 2% 0;
}
/* Fifth Section */
#fifth-section{
    position: relative;
    /* margin-bottom: 2%; */
}
.wire5{
    position: absolute;
    max-width: 11%;
    margin-left:15% ;
}
.questions p{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    color: #e7332b;
    padding-top: 5.2%;
}
.questions h3{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #1b1a20;
    line-height: 52px;
}
.accordion{
    width: 80%;
    max-width: 1030px;
    margin: 7% auto 5% auto;
    /* border: 1px solid #1b1a20; */
}
.accordion-item{
    padding: 3px 0;
    border: 1px solid #AFA3BC;
}
.accordion-item-header{
    padding: 3% 12% 1.2% 2% ;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}
.accordion-item-header::after{
    content: "\002B";
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    right: 1rem;
    transition: transform 0.5ms ease-out;
}
.accordion-item-header.active::after{
    transform:rotate(45deg) ;
}
.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition:  0.2s ease-out;
}
.accordion-item-body-content{
    padding: 0 2% 2% 2%;
}
.accordion-item-body-content p{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}
.accordion-item-body-content .p4{
    padding: 1.7% 0 1.4% 0;
}
.accordion-item-body-content .p5{
    padding: 1.7% 0 1.4% 0;
}
.faq-twitter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq-twitter p{
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    padding-right: 8px;
    margin-left: 1%;
}
.faq-button a{
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none;
}
.faq-button .twitter-button{
    background-color: #e7332b;
    border: none;
    border-radius: 30px;
    padding: 3px 34px 3px 22px;
}
.accordion-line{
    border: none;
    height: 1px;
    background-color: #514949;
    opacity: 0.2;
    margin: 3% 4% 0 4%;
}
/* Sixth Section */
#sixth-section{
    margin: 5% 0 0 0;
}
.program-stucture .description{
    text-align: center;
}
.program-stucture .description .heading{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 31px;
    color: #e7332b ;
}
.program-stucture .description h4{
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    color: #1b1a20;
    padding-bottom: 15px;
}
.program-stucture .description p{
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    color: #333333;
}
.program-stucture .description .move{
    position: absolute;
    left: 0;
    top: 905%;
}
.program-stucture .description .circle0{
    position: absolute;
    right: 67px;
    top: 969%;
    width: 13%;
    z-index: -1;
}
.description .wire6{
    max-width: 9.4%;
    margin-right: 55%;
}
.description .star1{
    max-width: 10%;
    position: absolute;
    top: 830%;
}
.program-stucture .structures{
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1100px;
    margin: 4.5% auto;
}
.structures .full-time{
    background-color: #1B1A20;
    margin-right: 2%;
    color: #FFFFFF;
    padding: 6% 8% 5% 4.5%;
    border-radius: 70px;
    box-shadow: -4px 4px 50px 4px #f5d6cd;
}
.full-time .content h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 46px;
}
.full-time .content p{
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 20px;
}
.full-time .content h4{
    font-size: 18px;
    font-weight: 600;
    padding: 18px 0 5px 0;
}
.full-time .content .phases ul{
    margin-bottom: 8px;
}
.full-time .content .tracks ul{
    width: 100%;
    margin-bottom: 8px;
    text-align:left;
}
.full-time .content ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-decoration: none;
}
.full-time .content ul li a{
    color: #FFFFFF;
}
.full-time .hour-image{
    position: absolute;
    width: 7%;
    margin-left: 27%;
    margin-top: 36%;
}
/* .popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 500px;
    max-width: 80%;
}
.popup-content{
    background-color: #25FFFF;
    color: #1b1a20;
    padding: 12% 6% 16% 15%;
    border-radius: 13px;
    border: 1px solid #1B1A20;
    
}
.popup-content .header{
    display: flex;
    margin-bottom: 5%;
}
.popup-content .fa-xmark{
    margin: 7% 0 0 16%;
    font-size: 30px;
    color: #e7332b;
}
.popup-content span{
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    color: #1b1a20;
    margin-top: 7%;
}
.popup-content .p1{
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    color: 585757;
}
.popup-content .p2{
    width: 90%;
    font-size: 17px;
    line-height: 22px;
    font-weight: 400;
    color: 585757;
    margin-top: 5%;
} */
.clarity{
    max-width: 20px;
    padding-left: 5px;
}
.full-time .content ul li:before{
    content:" • ";
    padding-right: 5.4px;
}

.structures .part-time{
    background-color: #1B1A20;
    color: #FFFFFF;
    padding: 6% 19% 2% 4.5%;
    border-radius: 70px;
    margin-left: 2%;
    box-shadow: 4px 4px 50px 4px #f5d6cd;
}
.part-time .content h3{
    font-size: 35px;
    font-weight: 600;
    line-height: 46px;
}
.part-time .content p{
    width: 140%;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 20px;
}
.part-time .content h4{
    font-size: 18px;
    font-weight: 600;
    padding: 18px 0 5px 0;
}
.part-time .content .phases ul li{
    margin-bottom: 8px;
}
.part-time .content .tracks ul{
    margin-bottom: 8px;
}
.part-time .content .tracks .backend{
    padding-top: 18px;
    width: 160%;
}
.part-time .content .tracks .design{
    padding-top: 18px;
}
.part-time .content ul li{
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}
.part-time .content ul li:before{
    content:" • ";
    padding-right: 5.4px;
}
.part-time .time-image{
    position: absolute;
    width: 13%;
    margin-left: 19%;
    margin-top: 32%;
}
/* Get started */
.program-stucture .get-started{
    background-color: #E7332B;
    width: 90%;
    margin: 18% auto 0 auto;
    border-radius: 20px;
    padding: 0 0 110px 0;
}
.get-started .content{
    text-align: center;
    color: #FFFFFF;
}
.get-started .content p{
    padding-top: 6%;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
}
.get-started .content h3{
    padding-top: 20px;
    font-size: 55px;
    font-weight: 600;
    line-height: 72px;
    width: 50%;
    margin: 0 auto;
}
.content .enroll-button{
    background-color: #ffffff;
    border: none;
    border-radius: 30px;
    padding: 12px 33px;
    margin-top: 40px;
}
.content .enroll-button a{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #e7332b;
    text-decoration: none;
}
.content .right-curve{
    position: absolute;
    width: 11%;
    right: 67px;
}
.content .left-curve{
    position: absolute;
    width: 9.5%;
    left: 67px;
    margin-top: 25%;
}
.content .coil{
    position: absolute;
    width: 12%;
    left: 210px;
    margin-top: 5%;
}
.content .plain-dots{
    position: absolute;
    width: 11%;
    right: 67px;
    margin-top: 26%;
}
.program-stucture .circle1{
    position: absolute;
    width: 9%;
    top: 998%;
    margin-left: 5%;
}
/* Footer */
#footer-page2 {
    margin: 0 6%;
}
#footer-page2 .footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7%;
}
.footer-content .zuri-logo img{
    max-width: 97%;
    margin-bottom: 14% ;
}
.footer-content .zuri-logo span{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #1b1a20;
}
.footer-content .social-icons{
    text-align: right;
}
.footer-content .social-icons img{
    padding-left: 2px;
    margin-bottom: 14%;
    /* margin-right: 2%; */
}
.social-icons .privacy a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #1b1a20;
    padding: 0 4px;
}



